*{
	margin: 0;
	padding: 0;
}

a{
	font-family: sans-serif;
	text-decoration: none;
}

.header{
	background: #fdff6b;
	padding-inline: 16px;
}

.nav{
	max-width: 1280px;
	height: 70px;
	margin-inline: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	font-size: 48px;
}

.nav-list{
	display: flex;
	gap: 32px;
	list-style: none;
}

.nav-list a{
	font-size: 18px;
	color: white;
	padding-block: 16px;
}

